<main>
    <section class="inicio" id="inicio">
        <div class="contect">
            <h3>Acuario Inteligente</h3>
            <p>
                Este acuario altamente tecnificado viene equipado con 
                una consola eléctrica ubicada en el gabinete, con la misión 
                de suministrar energía a todos los componentes eléctricos del 
                acuario para que usted pueda controlar su acuario fácilmente 
                desde su panel táctil frontal o un control remoto.
            </p>
        </div>
        <div class="image">
            <img src="img/bettasin.png" alt="">
        </div>
    </section>
    <script>
        window.onload = function() {
            //document.getElementById("op2").style.background = "#5fa2db";
            document.getElementById("op1").classList.toggle("active");
        }
    </script>
</main>
