<main>
    <script>
        window.onload = function() {
            //document.getElementById("op2").style.background = "#5fa2db";
            document.getElementById("op4").classList.toggle("active");
        }
    </script>
</main>