<main>
    <section class="inicio" id="inicio">
        <div class="contect">
            <h3>Para contar con Ayuda</h3>
            <p>
                Si el equipo sufre de algun problea
                por favor comunicarse con:
                usuari@gmail.com
            </p>
        </div>
    </section>
    <script>
        window.onload = function() {
            //document.getElementById("op2").style.background = "#5fa2db";
            document.getElementById("op4").classList.toggle("active");
        }
    </script>
</main>